* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #010e1e;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
